.form-group {
    margin: 0;
    padding-top: 15px;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
    border-radius: 13px;
}
.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
    border-radius: 13px;
    margin-left: 9px;
}
.form-group .container{
    box-sizing: border-box;
}

.btn-color {
    width: 26px;
    height: 26px;
    padding: 0px;
    border: none;
    margin:9px;
}
